@use "variable";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

body {
  background: variable.$main-green;
  font-family: "Oswald", "Open Sans", sans-serif;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-articles {
  width: 100%;
}

.header {
  a {
    color: variable.$main-black;
    outline: none;
    text-decoration: none;
  }
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__desktop {
    display: none;
    width: 100%;
    ul {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      list-style: none;
      text-align: center;
    }

    li {
      flex: 1;
    }
    &__image {
      height: 90px;
      width: 145px;
      object-fit: none;
    }
  }
}

.featured-content {
  display: flex;
  flex-direction: column;
  &__image {
    max-width: 100%;
  }

  video {
    display: none;
  }

}
.main-section {
  width: 100%;
  flex-direction: column;
}
.article {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    text-align: center;
  }
}
.foto-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.foto-card {
  &__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  max-width: 100%;
}
.foto-card-container {
  display: flex;
  flex-direction: column;
}
.footer {
  a {
    color: variable.$main-white;
    outline: none;
    text-decoration: none;
  }
  text-align: center;
  &__social-section {
    svg {
      position: relative;
    }
    use {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  width: 100%;
  background: variable.$main-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__nav {
    color: variable.$main-white;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  &__quote-container {
    display: flex;
    font-size: 1.25rem;
    color: #16ffbd;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    flex-direction: row;
  }
  ul {
    color: variable.$main-white;
    font-size: 1.25rem;
    list-style: none;
    padding-left: 0;
  }
  &__placed-x {
    color: variable.$main-green;
    padding: 10px 0;
  }
  &__main-container {
    padding-bottom: 100px;
    text-align: center;

    section {
      padding: 15px 0;
    }
  }
}
.green-icon {
  color: variable.$main-green;
  fill: variable.$main-green;
}
.svg-defs {
  display: none;
}
h2 {
  padding: 10px 0;
  font-size: 1.25rem;
  letter-spacing: 2px;
  color: variable.$main-white;
}
span {
  padding: 10px 0;
  color: variable.$main-green;
}

.about-articles {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__article {
    text-align: center;
  }
}

@media screen and (min-width: 601px) {

  .header {
    &__mobile {
      .featured-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    video {
      display: block;
      max-width: 100%;
    }
    img {
      display: none;
    }
    &__desktop {
      display: block;
    }
  }
  .about-articles {
    &__3xline {
      display: flex;
      flex-direction: row;
      gap: 10%;
    }
    article {
      flex: 1;
    }
  }
  .foto-card-container {
    flex-direction: row;
  }
  .foto-section {
    .foto-card {
      flex: 1;
    }
  }
  .footer {
    padding: 0 5%;
    &_nav {
      display: none;
    }
    &__main-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    section {
      flex: 1;
    }
    &__social-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }

    &__first-section {
      text-align: left;
    }
    &__last-section {
      text-align: right;
    }
  }

  .footer {
    padding: 0 5%;
    &_nav {
      display: none;
    }
    &__main-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    section {
      flex: 1;
    }
    &__social-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }

    &__first-section {
      text-align: left;
    }
    &__last-section {
      text-align: right;
    }
  }
}
