@use "variable";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

body {
  background: variable.$main-green;
  font-family: "Oswald", "Open Sans", sans-serif;
}
.main-section-test {
  width: 100%;
}
.column-test {
  height: 300px;
  border: 5px solid red;
}
.about-articles {
  width: 100%;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-content {
  &__image {
    max-width: 100%;
  }
}
.main-section {
  width: 100%;
  flex-direction: column;
}
.article {
  display: flex;
  align-items: center;
  text-align: center;
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    text-align: center;
  }
}
.foto-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.foto-card {
  &__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  max-width: 100%;
}
.foto-card-container {
  display: flex;
  flex-direction: column;
}
.footer {
  text-align: center;
  &__social-section {
    svg {
      position: relative;
    }
    use {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  width: 100%;
  background: variable.$main-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__nav {
    color: variable.$main-white;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  &__quote-container {
    font-size: 1.25rem;
    color: variable.$main-green;
    padding: 10px 0;
  }
  ul {
    color: variable.$main-white;
    font-size: 1.25rem;
    list-style: none;
    padding-left: 0;
  }
  &__placed-x {
    color: variable.$main-green;
    padding: 10px 0;
  }
  &__main-container {
    padding-bottom: 100px;
    text-align: center;

    section {
      padding: 15px 0;
    }
  }
}
.green-icon {
  color: variable.$main-green;
  fill: variable.$main-green;
}
.svg-defs {
  display: none;
}
h2 {
  padding: 10px 0;
  font-size: 1.25rem;
  letter-spacing: 2px;
  color: variable.$main-white;
}
span {
  padding: 10px 0;
  color: variable.$main-green;
}

.about-articles {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__article {
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .about-articles {
    &__3xline {
      display: flex;
      flex-direction: row;
      gap: 10%;
    }
    article {
      flex: 1;
    }
  }
  .foto-card-container {
    flex-direction: row;
  }
  .foto-card {
    flex: 1;
    &__image {
      object-fit: cover;
      height: 100%;
    }
  }
}
